@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default; 

}

.logo span {
    color: #7d2ae8;
}

.navigation {
    margin-left: -300px;
}

.navigation a{
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: #7d2ae8;
}

.btn-falar {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;

}

.btn-falar:hover {
    color: #7d2ae8;
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;

}

.content {
    max-width: 500px;
    color: #555;    

}

.content h2 {
    font-size: 3em;

}

.content h2 span {
    color: #7d2ae8;
}

.content h4 {
    font-size: 2em;

}

.content p {
    padding: 10px 0 40px 0;
}

.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;

}

.btn-group a:hover:nth-child(1){
    color: #7d2ae8;
    background: transparent;
}

.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}

.social-icons {
    position: absolute;
    bottom: 50px;

}

.social-icons a {
    display: inline-block;
    width: 35px;
    width: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;

}

.social-icons a:hover {
    transform: translateY(-5px);
}

.social-icons a i {
    color: #fff;
}

.widget {
    position: relative;
    max-width: 650px;
    width: 95%;
    margin: 0 auto;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid #dee2e6;
    padding: 20px 0;
    margin-top: -50px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 30px rgba(173, 181, 189, 0.4);
  }
  
.widget .widget-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    text-align: center;
    border-right: 1px solid #dee2e6;
  }
  
.widget .widget-item:last-child {
    border-right: 0;
  }
  
.widget .widget-item h2, .header .widget .widget-item p {
    margin: 0;
  }
  
.widget .widget-item p {
    opacity: .7;
    font-size: 14px;
  }
  
  @media (max-width: 767.98px) {
    .widget {
      padding: 10px;
      margin-top: -32px;
    }
    .widget .widget-item h2 {
      font-size: 20px;
    }
    .widget .widget-item p {
      font-size: 13px;
    }
  }